.createJewel {
    background: #a2b192;
    margin: 20px;
    padding: 20px;
    overflow: auto;
    height: 1180px;
}

.formCreate>* {
    display: block;
    width: 400px;
    box-sizing: border-box;
    margin: auto;
}

.formCreate>label {
    margin-top: 10px;
}

.formCreate>textarea {
    resize: none;
    height: 9em;
}

.formCreate>input[type="submit"] {
    margin: auto;
    width: 100px;
    background: rgb(145, 89, 89);
}

.formCreate>input[type="submit"]:hover {
  background: grey;
  cursor: pointer;
  text-align: center;
}