.detailsJewel {
    background: #a2b192;
    padding: 20px;
    margin: 10px;
    height: 2000px;
}

.detailsLoading {
    background: #a2b192;
    padding: 20px; 
    margin: 10px;
    height: 1000px;
}

.controls > button {
    background: rgb(145, 89, 89);
}

.public {
    display: inline-block;
    border: 5px solid rgb(145, 89, 89);
    padding: 4em  3em;
    background-color: rgb(192, 190, 190);
    margin: 5em 2em;
    text-align: center;
    width: 25%;
    height: 40%;
    
}

.commentForm>* {
    display: block;
    width: 30%;
    box-sizing: content-box;    
}

.commentForm>label {
    margin-top: 10px;
}

.image {
    width: 100%;
    height: auto;
}



.commentForm>input[type="submit"] {
    margin-top: 0.5px;
    width: auto;

    background: rgb(145, 89, 89);
}

.comment {
    float: right;
    width: 40%;
    padding-left: 20px;
}

.controls > a {
    width: 60px;
    height: 18px;
    border: 3px solid blac;
}
