ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(145, 89, 89);
}

li {
    float: left;
}

h1 {
    float: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(82, 71, 71);
}

.active {
    background-color: black;
}

.topnav-right {
    float: right;
}

.topnav-right a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.admin li{ 
    float: right;
}