.formReg {
    text-align: center;
    border: 2px;
 
}

.font {
    background: #a2b192;
    margin: 20px;
    padding: 20px;
    overflow: auto;
    height: 1180px;
}

.formReg>* {
    display: block;
    margin: auto;
    margin-bottom: 5px;

}

.formReg>input[type="submit"] {
    margin: auto;
    margin-bottom: 5px;
    background: rgb(145, 89, 89);
    color: black;
    height: 20px;
    width:  80px;
    text-align: center;
    border: 1px solid black;
}
.formReg>input[type="submit"]:hover {
    background: grey;
    cursor: pointer;
    height: 20px;
    width:  80px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.register {
    background: rgb(192, 190, 190);
    display: inline-block;
    padding: 120px;
    margin: 40px;
    height: 750px;
    width: 500px;
    resize: nane;
    border: 5px solid rgb(145, 89, 89);
}