.detailsGem {
    background: #a2b192;
    padding: 100px;
    margin: 10px;
    height: 1000px;
}

.detailsLoading {
    background: #a2b192;
    padding: 20px;
    margin: 10px;
    height: 1000px;
}

.controls > a {
    display: inline-block;
    padding: 0.2em 0.2em;
    margin: 0.2em 0.2em;
    background: rgb(145, 89, 89);
    color: black;
    text-decoration: none;
    border: 8em;
}

.details {
    display: inline-block;
    border: 5px solid rgb(145, 89, 89);
    padding: 1em 1em;
    background-color: rgb(192, 190, 190);
    margin: 2em 2em;
    text-align: center;
    width: 50%;
    
}

.editLink {
    margin-top: 0.5px;
    width: auto;
    background: rgb(145, 89, 89);

}

.active {
    background-color: black;
}