.listGems {
    background: #a2b192;
    padding: 20px;
    margin: 10px;
    height: 2000px;
 
  }

  .search {
    background-color: rgb(145, 89, 89);
  }

  .pagination {
    display: block;
    text-align: center;
    font-size: 2em;
  }
  .pagination >a {
    display: inline-block;
    padding: 0.1em 0.2em;
    margin: 0.1em 0.2em;
    background: grey;
    color: black;
    text-decoration: none;
  }

  .pagination >a:hover {
    background: #ececec;
  }