.detailsGem {
    background: #a2b192;
    padding: 100px;
    margin: 10px;
    height: 1060px;
}

.detailsLoading {
    background: #a2b192;
    padding: 20px; 
    margin: 10px;
    height: 1000px;
}

.controls > button {
    background: rgb(145, 89, 89);
}

.details {
    display: inline-block;
    border: 5px solid rgb(145, 89, 89);
    padding: 1em 1em;
    background-color: rgb(192, 190, 190);
    margin: 1em em;
    text-align: center;
    width: 20%;
}
