.myGem {
    display: inline-block;
    border: 5px solid rgb(145, 89, 89);
    padding: 2em 1em;
    background-color: rgb(192, 190, 190);
    margin: 8em 1em;
    text-align: center;
    
}


.controls > a {
    display: inline-block;
    padding: 0.1em 0.2em;
    margin: 0.1em 0.2em;
    background: rgb(145, 89, 89);
    color: black;
    text-decoration: none;
    border: 2em;
}

.controls > a:hover {
    background: grey;
}