.myStore {
    background: #a2b192;
    padding: 20px;
    margin: 10px;
    height: 1300px;
}

.upgrade > button {
    display: inline-block;
    padding: 0.5em 0.5em;
    margin: 0.0em 0.5em;
    background: rgb(192, 190, 190);
    color: black;
    text-decoration: none;
    border: 2em;
}

.upgrade > button:hover {
    background: grey;
}